body {
    text-align: center;
    font-family: Helvetica;
}

h1 {
    font-size: 70px;
}

.hero {
    font-size: 18px;
    margin: auto 0;
    list-style: none;
    padding: 2%;
}

.hero ul {
    padding-left: 0;
}

.hero li {
    display:inline;
}

h1, .nav, #designedIn, #copyright {
    color: white;
}

h2 {
    font-size: 32px;'
}

#designedIn {
    padding: 2%;
}

.hero, #designedIn {
    background-image: url(images/the-flatiron-building.png);
}

h3, #designedIn {
    font-size: 23px;
}

h1, h2, h3, #designedIn {
    font-weight: bold;
}

p {
    font-size: 14px;
}

#copyright {
    font-size: 11px;
    background-color: dimgray;
    text-align:left;
}

#copyright a {
    font-size: 16px;
    color: white;
}
